#main{
    height: 500px;
    width: 500px;
    margin: 10vmin 20vmin 20vmin 20vmin;
    border: solid black;
    border-width: thin;
}

#top-row{
    height: 18.7px;
    border-bottom: 1px solid black;
}

#middle-row{
    height: 428.6px;
    border-bottom: 1px solid black;
}

#bottom-row{
    height: 18.7px;
}
