body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    "B1     I0      I1      I2      I3      I4      I5      I6      I7      I8      I9      I10     I11     B2"
                            "P0     P0-0    P0-1    P0-2    P0-3    P0-4    P0-5    P0-6    P0-7    P0-8    P0-9    P0-10   P0-11   R0"
                            "P1     P1-0    P1-1    P1-2    P1-3    P1-4    P1-5    P1-6    P1-7    P1-8    P1-9    P1-10   P1-11   R1"
                            "P2     P2-0    P2-1    P2-2    P2-3    P2-4    P2-5    P2-6    P2-7    P2-8    P2-9    P2-10   P2-11   R2"
                            "P3     P3-0    P3-1    P3-2    P3-3    P3-4    P3-5    P3-6    P3-7    P3-8    P3-9    P3-10   P3-11   R3"
                            "P4     P4-0    P4-1    P4-2    P4-3    P4-4    P4-5    P4-6    P4-7    P4-8    P4-9    P4-10   P4-11   R4"
                            "P5     P5-0    P5-1    P5-2    P5-3    P5-4    P5-5    P5-6    P5-7    P5-8    P5-9    P5-10   P5-11   R5"
                            "P6     P6-0    P6-1    P6-2    P6-3    P6-4    P6-5    P6-6    P6-7    P6-8    P6-9    P6-10   P6-11   R6"
                            "P7     P7-0    P7-1    P7-2    P7-3    P7-4    P7-5    P7-6    P7-7    P7-8    P7-9    P7-10   P7-11   R7"
                            "P8     P8-0    P8-1    P8-2    P8-3    P8-4    P8-5    P8-6    P8-7    P8-8    P8-9    P8-10   P8-11   R8"
                            "P9     P9-0    P9-1    P9-2    P9-3    P9-4    P9-5    P9-6    P9-7    P9-8    P9-9    P9-10   P9-11   R9"
                            "P10    P10-0   P10-1   P10-2   P10-3   P10-4   P10-5   P10-6   P10-7   P10-8   P10-9   P10-10  P10-11  R10"
                            "P11    P11-0   P11-1   P11-2   P11-3   P11-4   P11-5   P11-6   P11-7   P11-8   P11-9   P11-10  P11-11  R11"
                            "B3     RI0     RI1     RI2     RI3     RI4     RI5     RI6     RI7     RI8     RI9     RI10    RI11    B4"
}

.box{
    border: solid black;
}

#blank-1{
    grid-area: B1;
}

#blank-2{
    grid-area: B2;
}

#blank-3{
    grid-area: B3;
}

#blank-4{
    grid-area: B4;
}

#P0{
    grid-area: P0;
}

#P1{
    grid-area: P1;
}

#P2{
    grid-area: P2;
}

#P3{
    grid-area: P3;
}

#P4{
    grid-area: P4;
}

#P5{
    grid-area: P5;
}

#P6{
    grid-area: P6;
}

#P7{
    grid-area: P7;
}

#P8{
    grid-area: P8;
}

#P9{
    grid-area: P9;
}

#P10{
    grid-area: P10;
}

#P11{
    grid-area: P11;
}

/* *** */

#P0-0{
    grid-area: P0-0;
}

#P0-1{
    grid-area: P0-1;
}

#P0-2{
    grid-area: P0-2;
}

#P0-3{
    grid-area: P0-3;
}

#P0-4{
    grid-area: P0-4;
}

#P0-5{
    grid-area: P0-5;
}

#P0-6{
    grid-area: P0-6;
}

#P0-7{
    grid-area: P0-7;
}

#P0-8{
    grid-area: P0-8;
}

#P0-9{
    grid-area: P0-9;
}

#P0-10{
    grid-area: P0-10;
}

#P0-11{
    grid-area: P0-11;
}

/* *** */

#P1-0{
    grid-area: P1-0;
}

#P1-1{
    grid-area: P1-1;
}

#P1-2{
    grid-area: P1-2;
}

#P1-3{
    grid-area: P1-3;
}

#P1-4{
    grid-area: P1-4;
}

#P1-5{
    grid-area: P1-5;
}

#P1-6{
    grid-area: P1-6;
}

#P1-7{
    grid-area: P1-7;
}

#P1-8{
    grid-area: P1-8;
}

#P1-9{
    grid-area: P1-9;
}

#P1-10{
    grid-area: P1-10;
}

#P1-11{
    grid-area: P1-11;
}

/* *** */

#P2-0{
    grid-area: P2-0;
}

#P2-1{
    grid-area: P2-1;
}

#P2-2{
    grid-area: P2-2;
}

#P2-3{
    grid-area: P2-3;
}

#P2-4{
    grid-area: P2-4;
}

#P2-5{
    grid-area: P2-5;
}

#P2-6{
    grid-area: P2-6;
}

#P2-7{
    grid-area: P2-7;
}

#P2-8{
    grid-area: P2-8;
}

#P2-9{
    grid-area: P2-9;
}

#P2-10{
    grid-area: P2-10;
}

#P2-11{
    grid-area: P2-11;
}

/* *** */

#P3-0{
    grid-area: P3-0;
}

#P3-1{
    grid-area: P3-1;
}

#P3-2{
    grid-area: P3-2;
}

#P3-3{
    grid-area: P3-3;
}

#P3-4{
    grid-area: P3-4;
}

#P3-5{
    grid-area: P3-5;
}

#P3-6{
    grid-area: P3-6;
}

#P3-7{
    grid-area: P3-7;
}

#P3-8{
    grid-area: P3-8;
}

#P3-9{
    grid-area: P3-9;
}

#P3-10{
    grid-area: P3-10;
}

#P3-11{
    grid-area: P3-11;
}

/* *** */

#P4-0{
    grid-area: P4-0;
}

#P4-1{
    grid-area: P4-1;
}

#P4-2{
    grid-area: P4-2;
}

#P4-3{
    grid-area: P4-3;
}

#P4-4{
    grid-area: P4-4;
}

#P4-5{
    grid-area: P4-5;
}

#P4-6{
    grid-area: P4-6;
}

#P4-7{
    grid-area: P4-7;
}

#P4-8{
    grid-area: P4-8;
}

#P4-9{
    grid-area: P4-9;
}

#P4-10{
    grid-area: P4-10;
}

#P4-11{
    grid-area: P4-11;
}

/* *** */

#P5-0{
    grid-area: P5-0;
}

#P5-1{
    grid-area: P5-1;
}

#P5-2{
    grid-area: P5-2;
}

#P5-3{
    grid-area: P5-3;
}

#P5-4{
    grid-area: P5-4;
}

#P5-5{
    grid-area: P5-5;
}

#P5-6{
    grid-area: P5-6;
}

#P5-7{
    grid-area: P5-7;
}

#P5-8{
    grid-area: P5-8;
}

#P5-9{
    grid-area: P5-9;
}

#P5-10{
    grid-area: P5-10;
}

#P5-11{
    grid-area: P5-11;
}

/* *** */

#P6-0{
    grid-area: P6-0;
}

#P6-1{
    grid-area: P6-1;
}

#P6-2{
    grid-area: P6-2;
}

#P6-3{
    grid-area: P6-3;
}

#P6-4{
    grid-area: P6-4;
}

#P6-5{
    grid-area: P6-5;
}

#P6-6{
    grid-area: P6-6;
}

#P6-7{
    grid-area: P6-7;
}

#P6-8{
    grid-area: P6-8;
}

#P6-9{
    grid-area: P6-9;
}

#P6-10{
    grid-area: P6-10;
}

#P6-11{
    grid-area: P6-11;
}

/* *** */

#P7-0{
    grid-area: P7-0;
}

#P7-1{
    grid-area: P7-1;
}

#P7-2{
    grid-area: P7-2;
}

#P7-3{
    grid-area: P7-3;
}

#P7-4{
    grid-area: P7-4;
}

#P7-5{
    grid-area: P7-5;
}

#P7-6{
    grid-area: P7-6;
}

#P7-7{
    grid-area: P7-7;
}

#P7-8{
    grid-area: P7-8;
}

#P7-9{
    grid-area: P7-9;
}

#P7-10{
    grid-area: P7-10;
}

#P7-11{
    grid-area: P7-11;
}

/* *** */

#P8-0{
    grid-area: P8-0;
}

#P8-1{
    grid-area: P8-1;
}

#P8-2{
    grid-area: P8-2;
}

#P8-3{
    grid-area: P8-3;
}

#P8-4{
    grid-area: P8-4;
}

#P8-5{
    grid-area: P8-5;
}

#P8-6{
    grid-area: P8-6;
}

#P8-7{
    grid-area: P8-7;
}

#P8-8{
    grid-area: P8-8;
}

#P8-9{
    grid-area: P8-9;
}

#P8-10{
    grid-area: P8-10;
}

#P8-11{
    grid-area: P8-11;
}

/* *** */

#P9-0{
    grid-area: P9-0;
}

#P9-1{
    grid-area: P9-1;
}

#P9-2{
    grid-area: P9-2;
}

#P9-3{
    grid-area: P9-3;
}

#P9-4{
    grid-area: P9-4;
}

#P9-5{
    grid-area: P9-5;
}

#P9-6{
    grid-area: P9-6;
}

#P9-7{
    grid-area: P9-7;
}

#P9-8{
    grid-area: P9-8;
}

#P9-9{
    grid-area: P9-9;
}

#P9-10{
    grid-area: P9-10;
}

#P9-11{
    grid-area: P9-11;
}

/* *** */

#P10-0{
    grid-area: P10-0;
}

#P10-1{
    grid-area: P10-1;
}

#P10-2{
    grid-area: P10-2;
}

#P10-3{
    grid-area: P10-3;
}

#P10-4{
    grid-area: P10-4;
}

#P10-5{
    grid-area: P10-5;
}

#P10-6{
    grid-area: P10-6;
}

#P10-7{
    grid-area: P10-7;
}

#P10-8{
    grid-area: P10-8;
}

#P10-9{
    grid-area: P10-9;
}

#P10-10{
    grid-area: P10-10;
}

#P10-11{
    grid-area: P10-11;
}

/* *** */

#P11-0{
    grid-area: P11-0;
}

#P11-1{
    grid-area: P11-1;
}

#P11-2{
    grid-area: P11-2;
}

#P11-3{
    grid-area: P11-3;
}

#P11-4{
    grid-area: P11-4;
}

#P11-5{
    grid-area: P11-5;
}

#P11-6{
    grid-area: P11-6;
}

#P11-7{
    grid-area: P11-7;
}

#P11-8{
    grid-area: P11-8;
}

#P11-9{
    grid-area: P11-9;
}

#P11-10{
    grid-area: P11-10;
}

#P11-11{
    grid-area: P11-11;
}

/* *** */

#R0{
    grid-area: R0;
}

#R1{
    grid-area: R1;
}

#R2{
    grid-area: R2;
}

#R3{
    grid-area: R3;
}

#R4{
    grid-area: R4;
}

#R5{
    grid-area: R5;
}

#R6{
    grid-area: R6;
}

#R7{
    grid-area: R7;
}

#R8{
    grid-area: R8;
}

#R9{
    grid-area: R9;
}

#R10{
    grid-area: R10;
}

#R11{
    grid-area: R11;
}

/* *** */

#I0{
    grid-area: I0;
}

#I1{
    grid-area: I1;
}

#I2{
    grid-area: I2;
}

#I3{
    grid-area: I3;
}

#I4{
    grid-area: I4;
}

#I5{
    grid-area: I5;
}

#I6{
    grid-area: I6;
}

#I7{
    grid-area: I7;
}

#I8{
    grid-area: I8;
}

#I9{
    grid-area: I9;
}

#I10{
    grid-area: I10;
}

#I11{
    grid-area: I11;
}

/* *** */

#RI0{
    grid-area: RI0;
}

#RI1{
    grid-area: RI1;
}

#RI2{
    grid-area: RI2;
}

#RI3{
    grid-area: RI3;
}

#RI4{
    grid-area: RI4;
}

#RI5{
    grid-area: RI5;
}

#RI6{
    grid-area: RI6;
}

#RI7{
    grid-area: RI7;
}

#RI8{
    grid-area: RI8;
}

#RI9{
    grid-area: RI9;
}

#RI10{
    grid-area: RI10;
}

#RI11{
    grid-area: RI11;
}