body {
    display: grid;
    min-height: 90vh;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 120px;
    grid-template-areas:    "OB     OB      OB      OB      OB      OB      OB      OB      OB      OB      OB      OB      OB      OB      PB"
                            "Pr     Pr      Pr      Pr      Pr      Pr      Pr      Pr      Pr      Pr      Pr      Pr      Pr      Pr      PB"
                            "B1     TR0     TR1     TR2     TR3     TR4     TR5     TR6     TR7     TR8     TR9     TR10    TR11    B2      PB"
                            "LC0    Z0      Z1      Z2      Z3      Z4      Z5      Z6      Z7      Z8      Z9      Z10     Z11     RC0     PB"
                            "LC1    O0      O1      O2      O3      O4      O5      O6      O7      O8      O9      O10     O11     RC1     PB"
                            "LC2    Tw0     Tw1     Tw2     Tw3     Tw4     Tw5     Tw6     Tw7     Tw8     Tw9     Tw10    Tw11    RC2     PB"
                            "LC3    Th0     Th1     Th2     Th3     Th4     Th5     Th6     Th7     Th8     Th9     Th10    Th11    RC3     PB"
                            "LC4    Fo0     Fo1     Fo2     Fo3     Fo4     Fo5     Fo6     Fo7     Fo8     Fo9     Fo10    Fo11    RC4     PB"
                            "LC5    Fi0     Fi1     Fi2     Fi3     Fi4     Fi5     Fi6     Fi7     Fi8     Fi9     Fi10    Fi11    RC5     PB"
                            "LC6    Si0     Si1     Si2     Si3     Si4     Si5     Si6     Si7     Si8     Si9     Si10    Si11    RC6     PB"
                            "LC7    Se0     Se1     Se2     Se3     Se4     Se5     Se6     Se7     Se8     Se9     Se10    Se11    RC7     PB"
                            "LC8    Ei0     Ei1     Ei2     Ei3     Ei4     Ei5     Ei6     Ei7     Ei8     Ei9     Ei10    Ei11    RC8     PB"
                            "LC9    N0      N1      N2      N3      N4      N5      N6      N7      N8      N9      N10     N11     RC9     PB"
                            "LC10   Te0     Te1     Te2     Te3     Te4     Te5     Te6     Te7     Te8     Te9     Te10    Te11    RC10    PB"
                            "LC11   El0     El1     El2     El3     El4     El5     El6     El7     El8     El9     El10    El11    RC11    PB"
                            "B3     BR0     BR1     BR2     BR3     BR4     BR5     BR6     BR7     BR8     BR9     BR10    BR11    B4      PB"
}

.leftColumn{
    text-align: center;
    padding: 10px 10px 10px 8px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background-color: darkgray;
    color: white;
}

.rightColumn{
    text-align: center;
    padding: 10px 10px 10px 0px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background-color: darkgray;
    color: white;
}

.topRow{
    text-align: center;
    padding: 10px 10px 10px 6px;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
    background-color: darkgray;
    color: white;
}

.botRow{
    text-align: center;
    padding: 10px 10px 10px 6px;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
    background-color: darkgray;
    color: white;
}

.box0, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11{
    border: 1px solid black;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.preview-box{
  border: 1px solid black;
  width: 20px;
  height: 20px;
  text-align: center;
}

.orderButton{
  width: 30px;
}

#undo{
  height: 22px;
  margin-left: 10px;
}

#preview-bar{
  grid-area: Pr;
  display: flex;
  margin-left: 148px;
}

#ordering-bar{
    grid-area: OB;
    margin-left: 78px;
}

#playbackBar{
    grid-area: PB;
    margin-left: 40px;
    margin-top: 100px;
}

#blankOne{
    grid-area: B1;
    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
}

#blankTwo{
    grid-area: B2;
    border-left: 1px dashed black;
    border-bottom: 1px dashed black;
}

#blankThree{
    grid-area: B3;
    border-right: 1px dashed black;
    border-top: 1px dashed black;
}

#blankFour{
    grid-area: B4;
    border-left: 1px dashed black;
    border-top: 1px dashed black;
}

/* Left Column */

#leftColumn0{
    grid-area: LC0;
}

#leftColumn1{
    grid-area: LC1;
}

#leftColumn2{
    grid-area: LC2;
}

#leftColumn3{
    grid-area: LC3;
}

#leftColumn4{
    grid-area: LC4;
}

#leftColumn5{
    grid-area: LC5;
}

#leftColumn6{
    grid-area: LC6;
}

#leftColumn7{
    grid-area: LC7;
}

#leftColumn8{
    grid-area: LC8;
}

#leftColumn9{
    grid-area: LC9;
}

#leftColumn10{
    grid-area: LC10;
}

#leftColumn11{
    grid-area: LC11;
}

/* Right Column */

#rightColumn0{
    grid-area: RC0;
}

#rightColumn1{
    grid-area: RC1;
}

#rightColumn2{
    grid-area: RC2;
}

#rightColumn3{
    grid-area: RC3;
}

#rightColumn4{
    grid-area: RC4;
}

#rightColumn5{
    grid-area: RC5;
}

#rightColumn6{
    grid-area: RC6;
}

#rightColumn7{
    grid-area: RC7;
}

#rightColumn8{
    grid-area: RC8;
}

#rightColumn9{
    grid-area: RC9;
}

#rightColumn10{
    grid-area: RC10;
}

#rightColumn11{
    grid-area: RC11;
}

/* Top Row */

#topRow0{
    grid-area: TR0;
}

#topRow1{
    grid-area: TR1;
}

#topRow2{
    grid-area: TR2;
}

#topRow3{
    grid-area: TR3;
}

#topRow4{
    grid-area: TR4;
}

#topRow5{
    grid-area: TR5;
}

#topRow6{
    grid-area: TR6;
}

#topRow7{
    grid-area: TR7;
}

#topRow8{
    grid-area: TR8;
}

#topRow9{
    grid-area: TR9;
}

#topRow10{
    grid-area: TR10;
}

#topRow11{
    grid-area: TR11;
}

/* Bottom Row */

#bopRow0{
    grid-area: BR0;
    margin-left: 2px;
}

#botRow1{
    grid-area: BR1;
}

#botRow2{
    grid-area: BR2;
}

#botRow3{
    grid-area: BR3;
}

#botRow4{
    grid-area: BR4;
}

#botRow5{
    grid-area: BR5;
}

#botRow6{
    grid-area: BR6;
}

#botRow7{
    grid-area: BR7;
}

#botRow8{
    grid-area: BR8;
}

#botRow9{
    grid-area: BR9;
}

#botRow10{
    grid-area: BR10;
}

#botRow11{
    grid-area: BR11;
}

/* Row Zero */

#zero0{
    grid-area: Z0;
}

#zero1{
    grid-area: Z1;
    background-color: lightgray;
}

#zero2{
    grid-area: Z2;
}

#zero3{
    grid-area: Z3;
    background-color: lightgray;
}

#zero4{
    grid-area: Z4;
}

#zero5{
    grid-area: Z5;
    background-color: lightgray;
}

#zero6{
    grid-area: Z6;
}

#zero7{
    grid-area: Z7;
    background-color: lightgray;
}

#zero8{
    grid-area: Z8;
}

#zero9{
    grid-area: Z9;
    background-color: lightgray;
}

#zero10{
    grid-area: Z10;
}

#zero11{
    grid-area: Z11;
    background-color: lightgray;
}

/* Row One */

#one0{
    grid-area: O0;
    background-color: lightgray;
}

#one1{
    grid-area: O1;
}

#one2{
    grid-area: O2;
    background-color: lightgray;
}

#one3{
    grid-area: O3;
}

#one4{
    grid-area: O4;
    background-color: lightgray;
}

#one5{
    grid-area: O5;
}

#one6{
    grid-area: O6;
    background-color: lightgray;
}

#one7{
    grid-area: O7;
}

#one8{
    grid-area: O8;
    background-color: lightgray;
}

#one9{
    grid-area: O9;
}

#one10{
    grid-area: O10;
    background-color: lightgray;
}

#one11{
    grid-area: O11;
}

/* Row Two */

#two0{
    grid-area: Tw0;
}

#two1{
    grid-area: Tw1;
    background-color: lightgray;
}

#two2{
    grid-area: Tw2;
}

#two3{
    grid-area: Tw3;
    background-color: lightgray;
}

#two4{
    grid-area: Tw4;
}

#two5{
    grid-area: Tw5;
    background-color: lightgray;
}

#two6{
    grid-area: Tw6;
}

#two7{
    grid-area: Tw7;
    background-color: lightgray;
}

#two8{
    grid-area: Tw8;
}

#two9{
    grid-area: Tw9;
    background-color: lightgray;
}

#two10{
    grid-area: Tw10;
}

#two11{
    grid-area: Tw11;
    background-color: lightgray;
}

/* Row Three */

#three0{
    grid-area: Th0;
    background-color: lightgray;
}

#three1{
    grid-area: Th1;
}

#three2{
    grid-area: Th2;
    background-color: lightgray;
}

#three3{
    grid-area: Th3;
}

#three4{
    grid-area: Th4;
    background-color: lightgray;
}

#three5{
    grid-area: Th5;
}

#three6{
    grid-area: Th6;
    background-color: lightgray;
}
#three7{
    grid-area: Th7;
}

#three8{
    grid-area: Th8;
    background-color: lightgray;
}

#three9{
    grid-area: Th9;
}

#three10{
    grid-area: Th10;
    background-color: lightgray;
}

#three11{
    grid-area: Th11;
}

/* Row Four */

#four0{
    grid-area: Fo0;
}

#four1{
    grid-area: Fo1;
    background-color: lightgray;
}

#four2{
    grid-area: Fo2;
}

#four3{
    grid-area: Fo3;
    background-color: lightgray;
}

#four4{
    grid-area: Fo4;
}

#four5{
    grid-area: Fo5;
    background-color: lightgray;
}

#four6{
    grid-area: Fo6;
}

#four7{
    grid-area: Fo7;
    background-color: lightgray;
}

#four8{
    grid-area: Fo8;
}

#four9{
    grid-area: Fo9;
    background-color: lightgray;
}

#four10{
    grid-area: Fo10;
}

#four11{
    grid-area: Fo11;
    background-color: lightgray;
}

/* Row Five */

#five0{
    grid-area: Fi0;
    background-color: lightgray;
}

#five1{
    grid-area: Fi1;
}

#five2{
    grid-area: Fi2;
    background-color: lightgray;
}

#five3{
    grid-area: Fi3;
}

#five4{
    grid-area: Fi4;
    background-color: lightgray;
}

#five5{
    grid-area: Fi5;
}

#five6{
    grid-area: Fi6;
    background-color: lightgray;
}

#five7{
    grid-area: Fi7;
}

#five8{
    grid-area: Fi8;
    background-color: lightgray;
}

#five9{
    grid-area: Fi9;
}

#five10{
    grid-area: Fi10;
    background-color: lightgray;
}

#five11{
    grid-area: Fi11;
}

/* Row Six */

#six0{
    grid-area: Si0;
}

#six1{
    grid-area: Si1;
    background-color: lightgray;
}

#six2{
    grid-area: Si2;
}

#six3{
    grid-area: Si3;
    background-color: lightgray;
}

#six4{
    grid-area: Si4;
}

#six5{
    grid-area: Si5;
    background-color: lightgray;
}

#six6{
    grid-area: Si6;
}

#six7{
    grid-area: Si7;
    background-color: lightgray;
}

#six8{
    grid-area: Si8;
}

#six9{
    grid-area: Si9;
    background-color: lightgray;
}

#six10{
    grid-area: Si10;
}

#six11{
    grid-area: Si11;
    background-color: lightgray;
}

/* Row Seven */

#seven0{
    grid-area: Se0;
    background-color: lightgray;
}

#seven1{
    grid-area: Se1;
}

#seven2{
    grid-area: Se2;
    background-color: lightgray;
}

#seven3{
    grid-area: Se3;
}

#seven4{
    grid-area: Se4;
    background-color: lightgray;
}

#seven5{
    grid-area: Se5;
}

#seven6{
    grid-area: Se6;
    background-color: lightgray;
}

#seven7{
    grid-area: Se7;
}

#seven8{
    grid-area: Se8;
    background-color: lightgray;
}

#seven9{
    grid-area: Se9;
}

#seven10{
    grid-area: Se10;
    background-color: lightgray;
}

#seven11{
    grid-area: Se11;
}

/* Row Eight */

#eight0{
    grid-area: Ei0;
}

#eight1{
    grid-area: Ei1;
    background-color: lightgray;
}

#eight2{
    grid-area: Ei2;
}

#eight3{
    grid-area: Ei3;
    background-color: lightgray;
}

#eight4{
    grid-area: Ei4;
}

#eight5{
    grid-area: Ei5;
    background-color: lightgray;
}

#eight6{
    grid-area: Ei6;
}

#eight7{
    grid-area: Ei7;
    background-color: lightgray;
}

#eight8{
    grid-area: Ei8;
}

#eight9{
    grid-area: Ei9;
    background-color: lightgray;
}

#eight10{
    grid-area: Ei10;
}

#eight11{
    grid-area: Ei11;
    background-color: lightgray;
}

/* Row Nine */

#nine0{
    grid-area: N0;
    background-color: lightgray;
}

#nine1{
    grid-area: N1;
}

#nine2{
    grid-area: N2;
    background-color: lightgray;
}

#nine3{
    grid-area: N3;
}

#nine4{
    grid-area: N4;
    background-color: lightgray;
}

#nine5{
    grid-area: N5;
}

#nine6{
    grid-area: N6;
    background-color: lightgray;
}

#nine7{
    grid-area: N7;
}

#nine8{
    grid-area: N8;
    background-color: lightgray;
}

#nine9{
    grid-area: N9;
}

#nine10{
    grid-area: N10;
    background-color: lightgray;
}

#nine11{
    grid-area: N11;
}

/* Row Ten */

#ten0{
    grid-area: Te0;
}

#ten1{
    grid-area: Te1;
    background-color: lightgray;
}

#ten2{
    grid-area: Te2;
}

#ten3{
    grid-area: Te3;
    background-color: lightgray;
}

#ten4{
    grid-area: Te4;
}

#ten5{
    grid-area: Te5;
    background-color: lightgray;
}

#ten6{
    grid-area: Te6;
}

#ten7{
    grid-area: Te7;
    background-color: lightgray;
}

#ten8{
    grid-area: Te8;
}

#ten9{
    grid-area: Te9;
    background-color: lightgray;
}

#ten10{
    grid-area: Te10;
}

#ten11{
    grid-area: Te11;
    background-color: lightgray;
}

/* Row Eleven */

#eleven0{
    grid-area: El0;
    background-color: lightgray;
}

#eleven1{
    grid-area: El1;
}

#eleven2{
    grid-area: El2;
    background-color: lightgray;
}

#eleven3{
    grid-area: El3;
}

#eleven4{
    grid-area: El4;
    background-color: lightgray;
}

#eleven5{
    grid-area: El5;
}

#eleven6{
    grid-area: El6;
    background-color: lightgray;
}

#eleven7{
    grid-area: El7;
}

#eleven8{
    grid-area: El8;
    background-color: lightgray;
}

#eleven9{
    grid-area: El9;
}

#eleven10{
    grid-area: El10;
    background-color: lightgray;
}

#eleven11{
    grid-area: El11;
}

#zero0, #one0, #two0, #three0, #four0, #five0, #six0, #seven0, #eight0, #nine0, #ten0, #eleven0{
    animation: fade ease 0.5s;
    -webkit-animation: fade ease 0.5s;
    -moz-animation: fade ease 0.5s;
    -o-animation: fade ease 0.5s;
    -ms-animation: fade ease 0.5s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero1, #one1, #two1, #three1, #four1, #five1, #six1, #seven1, #eight1, #nine1, #ten1, #eleven1{
    animation: fade ease 1s;
    -webkit-animation: fade ease 1s;
    -moz-animation: fade ease 1s;
    -o-animation: fade ease 1s;
    -ms-animation: fade ease 1s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero2, #one2, #two2, #three2, #four2, #five2, #six2, #seven2, #eight2, #nine2, #ten2, #eleven2{
    animation: fade ease 1.5s;
    -webkit-animation: fade ease 1.5s;
    -moz-animation: fade ease 1.5s;
    -o-animation: fade ease 1.5s;
    -ms-animation: fade ease 1.5s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero3, #one3, #two3, #three3, #four3, #five3, #six3, #seven3, #eight3, #nine3, #ten3, #eleven3{
    animation: fade ease 2s;
    -webkit-animation: fade ease 2s;
    -moz-animation: fade ease 2s;
    -o-animation: fade ease 2s;
    -ms-animation: fade ease 2s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero4, #one4, #two4, #three4, #four4, #five4, #six4, #seven4, #eight4, #nine4, #ten4, #eleven4{
    animation: fade ease 2.5s;
    -webkit-animation: fade ease 2.5s;
    -moz-animation: fade ease 2.5s;
    -o-animation: fade ease 2.5s;
    -ms-animation: fade ease 2.5s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero5, #one5, #two5, #three5, #four5, #five5, #six5, #seven5, #eight5, #nine5, #ten5, #eleven5{
    animation: fade ease 3s;
    -webkit-animation: fade ease 3s;
    -moz-animation: fade ease 3s;
    -o-animation: fade ease 3s;
    -ms-animation: fade ease 3s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero6, #one6, #two6, #three6, #four6, #five6, #six6, #seven6, #eight6, #nine6, #ten6, #eleven6{
    animation: fade ease 3.5s;
    -webkit-animation: fade ease 3.5s;
    -moz-animation: fade ease 3.5s;
    -o-animation: fade ease 3.5s;
    -ms-animation: fade ease 3.5s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero7, #one7, #two7, #three7, #four7, #five7, #six7, #seven7, #eight7, #nine7, #ten7, #eleven7{
    animation: fade ease 4s;
    -webkit-animation: fade ease 4s;
    -moz-animation: fade ease 4s;
    -o-animation: fade ease 4s;
    -ms-animation: fade ease 4s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero8, #one8, #two8, #three8, #four8, #five8, #six8, #seven8, #eight8, #nine8, #ten8, #eleven8{
    animation: fade ease 4.5s;
    -webkit-animation: fade ease 4.5s;
    -moz-animation: fade ease 4.5s;
    -o-animation: fade ease 4.5s;
    -ms-animation: fade ease 4.5s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero9, #one9, #two9, #three9, #four9, #five9, #six9, #seven9, #eight9, #nine9, #ten9, #eleven9{
    animation: fade ease 5s;
    -webkit-animation: fade ease 5s;
    -moz-animation: fade ease 5s;
    -o-animation: fade ease 5s;
    -ms-animation: fade ease 5s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero10, #one10, #two10, #three10, #four10, #five10, #six10, #seven10, #eight10, #nine10, #ten10, #eleven10{
    animation: fade ease 5.5s;
    -webkit-animation: fade ease 5.5s;
    -moz-animation: fade ease 5.5s;
    -o-animation: fade ease 5.5s;
    -ms-animation: fade ease 5.5s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #zero11, #one11, #two11, #three11, #four11, #five11, #six11, #seven11, #eight11, #nine11, #ten11, #eleven11{
    animation: fade ease 6s;
    -webkit-animation: fade ease 6s;
    -moz-animation: fade ease 6s;
    -o-animation: fade ease 6s;
    -ms-animation: fade ease 6s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
  }
  
  @keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }