body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    "B1     I0      I1      I2      I3      I4      I5      I6      I7      I8      I9      I10     I11     B2"
                            "P0     P0-0    P0-1    P0-2    P0-3    P0-4    P0-5    P0-6    P0-7    P0-8    P0-9    P0-10   P0-11   R0"
                            "P1     P1-0    P1-1    P1-2    P1-3    P1-4    P1-5    P1-6    P1-7    P1-8    P1-9    P1-10   P1-11   R1"
                            "P2     P2-0    P2-1    P2-2    P2-3    P2-4    P2-5    P2-6    P2-7    P2-8    P2-9    P2-10   P2-11   R2"
                            "P3     P3-0    P3-1    P3-2    P3-3    P3-4    P3-5    P3-6    P3-7    P3-8    P3-9    P3-10   P3-11   R3"
                            "P4     P4-0    P4-1    P4-2    P4-3    P4-4    P4-5    P4-6    P4-7    P4-8    P4-9    P4-10   P4-11   R4"
                            "P5     P5-0    P5-1    P5-2    P5-3    P5-4    P5-5    P5-6    P5-7    P5-8    P5-9    P5-10   P5-11   R5"
                            "P6     P6-0    P6-1    P6-2    P6-3    P6-4    P6-5    P6-6    P6-7    P6-8    P6-9    P6-10   P6-11   R6"
                            "P7     P7-0    P7-1    P7-2    P7-3    P7-4    P7-5    P7-6    P7-7    P7-8    P7-9    P7-10   P7-11   R7"
                            "P8     P8-0    P8-1    P8-2    P8-3    P8-4    P8-5    P8-6    P8-7    P8-8    P8-9    P8-10   P8-11   R8"
                            "P9     P9-0    P9-1    P9-2    P9-3    P9-4    P9-5    P9-6    P9-7    P9-8    P9-9    P9-10   P9-11   R9"
                            "P10    P10-0   P10-1   P10-2   P10-3   P10-4   P10-5   P10-6   P10-7   P10-8   P10-9   P10-10  P10-11  R10"
                            "P11    P11-0   P11-1   P11-2   P11-3   P11-4   P11-5   P11-6   P11-7   P11-8   P11-9   P11-10  P11-11  R11"
                            "B3     RI0     RI1     RI2     RI3     RI4     RI5     RI6     RI7     RI8     RI9     RI10    RI11    B4"
                            "B3     OB      OB      OB      OB      OB      OB      OB      OB      OB      OB      OB      OB      B4"
}

/* .orderButton:focus{
    color: white;
} */

#ordering-bar{
    grid-area: OB;
}

.p-row{
    float: right;
    margin-top: 2vh;
}

.i-row{
    margin-top: 4vh;
}

.r-row{
    margin-top: 2vh;
}

.i-div{
    text-align: center;
}

.ri-div{
    text-align: center;
}

.box{
    border: solid black;
}

#blankOne{
    grid-area: B1;
}

#blankTwo{
    grid-area: B2;
}

#blankThree{
    grid-area: B3;
}

#blankFour{
    grid-area: B4;
}

#primeZero{
    grid-area: P0;
}

#primeOne{
    grid-area: P1;
}

#primeTwo{
    grid-area: P2;
}

#primeThree{
    grid-area: P3;
}

#primeFour{
    grid-area: P4;
}

#primeFive{
    grid-area: P5;
}

#primeSix{
    grid-area: P6;
}

#primeSeven{
    grid-area: P7;
}

#primeEight{
    grid-area: P8;
}

#primeNine{
    grid-area: P9;
}

#primeTen{
    grid-area: P10;
}

#primeEleven{
    grid-area: P11;
}

/* *** */

#zeroZero{
    grid-area: P0-0;
}

#zeroOne{
    grid-area: P0-1;
}

#zeroTwo{
    grid-area: P0-2;
}

#zeroThree{
    grid-area: P0-3;
}

#zeroFour{
    grid-area: P0-4;
}

#zeroFive{
    grid-area: P0-5;
}

#zeroSix{
    grid-area: P0-6;
}

#zeroSeven{
    grid-area: P0-7;
}

#zeroEight{
    grid-area: P0-8;
}

#zeroNine{
    grid-area: P0-9;
}

#zeroTen{
    grid-area: P0-10;
}

#zeroEleven{
    grid-area: P0-11;
}

/* *** */

#oneZero{
    grid-area: P1-0;
}

#oneOne{
    grid-area: P1-1;
}

#oneTwo{
    grid-area: P1-2;
}

#oneThree{
    grid-area: P1-3;
}

#oneFour{
    grid-area: P1-4;
}

#oneFive{
    grid-area: P1-5;
}

#oneSix{
    grid-area: P1-6;
}

#oneSeven{
    grid-area: P1-7;
}

#oneEight{
    grid-area: P1-8;
}

#oneNine{
    grid-area: P1-9;
}

#oneTen{
    grid-area: P1-10;
}

#oneEleven{
    grid-area: P1-11;
}

/* *** */

#twoZero{
    grid-area: P2-0;
}

#twoOne{
    grid-area: P2-1;
}

#twoTwo{
    grid-area: P2-2;
}

#twoThree{
    grid-area: P2-3;
}

#twoFour{
    grid-area: P2-4;
}

#twoFive{
    grid-area: P2-5;
}

#twoSix{
    grid-area: P2-6;
}

#twoSeven{
    grid-area: P2-7;
}

#twoEight{
    grid-area: P2-8;
}

#twoNine{
    grid-area: P2-9;
}

#twoTen{
    grid-area: P2-10;
}

#twoEleven{
    grid-area: P2-11;
}

/* *** */

#threeZero{
    grid-area: P3-0;
}

#threeOne{
    grid-area: P3-1;
}

#threeTwo{
    grid-area: P3-2;
}

#threeThree{
    grid-area: P3-3;
}

#threeFour{
    grid-area: P3-4;
}

#threeFive{
    grid-area: P3-5;
}

#threeSix{
    grid-area: P3-6;
}

#threeSeven{
    grid-area: P3-7;
}

#threeEight{
    grid-area: P3-8;
}

#threeNine{
    grid-area: P3-9;
}

#threeTen{
    grid-area: P3-10;
}

#threeEleven{
    grid-area: P3-11;
}

/* *** */

#fourZero{
    grid-area: P4-0;
}

#fourOne{
    grid-area: P4-1;
}

#fourTwo{
    grid-area: P4-2;
}

#fourThree{
    grid-area: P4-3;
}

#fourFour{
    grid-area: P4-4;
}

#fourFive{
    grid-area: P4-5;
}

#fourSix{
    grid-area: P4-6;
}

#fourSeven{
    grid-area: P4-7;
}

#fourEight{
    grid-area: P4-8;
}

#fourNine{
    grid-area: P4-9;
}

#fourTen{
    grid-area: P4-10;
}

#fourEleven{
    grid-area: P4-11;
}

/* *** */

#fiveZero{
    grid-area: P5-0;
}

#fiveOne{
    grid-area: P5-1;
}

#fiveTwo{
    grid-area: P5-2;
}

#fiveThree{
    grid-area: P5-3;
}

#fiveFour{
    grid-area: P5-4;
}

#fiveFive{
    grid-area: P5-5;
}

#fiveSix{
    grid-area: P5-6;
}

#fiveSeven{
    grid-area: P5-7;
}

#fiveEight{
    grid-area: P5-8;
}

#fiveNine{
    grid-area: P5-9;
}

#fiveTen{
    grid-area: P5-10;
}

#fiveEleven{
    grid-area: P5-11;
}

/* *** */

#sixZero{
    grid-area: P6-0;
}

#sixOne{
    grid-area: P6-1;
}

#sixTwo{
    grid-area: P6-2;
}

#sixThree{
    grid-area: P6-3;
}

#sixFour{
    grid-area: P6-4;
}

#sixFive{
    grid-area: P6-5;
}

#sixSix{
    grid-area: P6-6;
}

#sixSeven{
    grid-area: P6-7;
}

#sixEight{
    grid-area: P6-8;
}

#sixNine{
    grid-area: P6-9;
}

#sixTen{
    grid-area: P6-10;
}

#sixEleven{
    grid-area: P6-11;
}

/* *** */

#sevenZero{
    grid-area: P7-0;
}

#sevenOne{
    grid-area: P7-1;
}

#sevenTwo{
    grid-area: P7-2;
}

#sevenThree{
    grid-area: P7-3;
}

#sevenFour{
    grid-area: P7-4;
}

#sevenFive{
    grid-area: P7-5;
}

#sevenSix{
    grid-area: P7-6;
}

#sevenSeven{
    grid-area: P7-7;
}

#sevenEight{
    grid-area: P7-8;
}

#sevenNine{
    grid-area: P7-9;
}

#sevenTen{
    grid-area: P7-10;
}

#sevenEleven{
    grid-area: P7-11;
}

/* *** */

#eightZero{
    grid-area: P8-0;
}

#eightOne{
    grid-area: P8-1;
}

#eightTwo{
    grid-area: P8-2;
}

#eightThree{
    grid-area: P8-3;
}

#eightFour{
    grid-area: P8-4;
}

#eightFive{
    grid-area: P8-5;
}

#eightSix{
    grid-area: P8-6;
}

#eightSeven{
    grid-area: P8-7;
}

#eightEight{
    grid-area: P8-8;
}

#eightNine{
    grid-area: P8-9;
}

#eightTen{
    grid-area: P8-10;
}

#eightEleven{
    grid-area: P8-11;
}

/* *** */

#nineZero{
    grid-area: P9-0;
}

#nineOne{
    grid-area: P9-1;
}

#nineTwo{
    grid-area: P9-2;
}

#nineThree{
    grid-area: P9-3;
}

#nineFour{
    grid-area: P9-4;
}

#nineFive{
    grid-area: P9-5;
}

#nineSix{
    grid-area: P9-6;
}

#nineSeven{
    grid-area: P9-7;
}

#nineEight{
    grid-area: P9-8;
}

#nineNine{
    grid-area: P9-9;
}

#nineTen{
    grid-area: P9-10;
}

#nineEleven{
    grid-area: P9-11;
}

/* *** */

#tenZero{
    grid-area: P10-0;
}

#tenOne{
    grid-area: P10-1;
}

#tenTwo{
    grid-area: P10-2;
}

#tenThree{
    grid-area: P10-3;
}

#tenFour{
    grid-area: P10-4;
}

#tenFive{
    grid-area: P10-5;
}

#tenSix{
    grid-area: P10-6;
}

#tenSeven{
    grid-area: P10-7;
}

#tenEight{
    grid-area: P10-8;
}

#tenNine{
    grid-area: P10-9;
}

#tenTen{
    grid-area: P10-10;
}

#tenEleven{
    grid-area: P10-11;
}

/* *** */

#elevenZero{
    grid-area: P11-0;
}

#elevenOne{
    grid-area: P11-1;
}

#elevenTwo{
    grid-area: P11-2;
}

#elevenThree{
    grid-area: P11-3;
}

#elevenFour{
    grid-area: P11-4;
}

#elevenFive{
    grid-area: P11-5;
}

#elevenSix{
    grid-area: P11-6;
}

#elevenSeven{
    grid-area: P11-7;
}

#elevenEight{
    grid-area: P11-8;
}

#elevenNine{
    grid-area: P11-9;
}

#elevenTen{
    grid-area: P11-10;
}

#elevenEleven{
    grid-area: P11-11;
}

/* *** */

#retroZero{
    grid-area: R0;
}

#retroOne{
    grid-area: R1;
}

#retroTwo{
    grid-area: R2;
}

#retroThree{
    grid-area: R3;
}

#retroFour{
    grid-area: R4;
}

#retroFive{
    grid-area: R5;
}

#retroSix{
    grid-area: R6;
}

#retroSeven{
    grid-area: R7;
}

#retroEight{
    grid-area: R8;
}

#retroNine{
    grid-area: R9;
}

#retroTen{
    grid-area: R10;
}

#retroEleven{
    grid-area: R11;
}

/* *** */

#invZero{
    grid-area: I0;
}

#invOne{
    grid-area: I1;
}

#invTwo{
    grid-area: I2;
}

#invThree{
    grid-area: I3;
}

#invFour{
    grid-area: I4;
}

#invFive{
    grid-area: I5;
}

#invSix{
    grid-area: I6;
}

#invSeven{
    grid-area: I7;
}

#invEight{
    grid-area: I8;
}

#invNine{
    grid-area: I9;
}

#invTen{
    grid-area: I10;
}

#invEleven{
    grid-area: I11;
}

/* *** */

#retroInvZero{
    grid-area: RI0;
}

#retroInvOne{
    grid-area: RI1;
}

#retroInvTwo{
    grid-area: RI2;
}

#retroInvThree{
    grid-area: RI3;
}

#retroInvFour{
    grid-area: RI4;
}

#retroInvFive{
    grid-area: RI5;
}

#retroInvSix{
    grid-area: RI6;
}

#retroInvSeven{
    grid-area: RI7;
}

#retroInvEight{
    grid-area: RI8;
}

#retroInvNine{
    grid-area: RI9;
}

#retroInvTen{
    grid-area: RI10;
}

#retroInvEleven{
    grid-area: RI11;
}